.resultsAndPagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .resultsText {
    font-size: 16px;
  }
  
  .smallText {
    font-size: 12px;
  }
  