$pagination-padding: 0 0.625rem;

.resultsAndPagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: $pagination-padding;
}

.resultsText {
  font-size: 1rem;
}

.smallText {
  font-size: 0.75rem;
}
